############################################
.idea/
target/
**/*.rs.bk
Cargo.lock

############################################
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

############################################
# *.log
*.tmp

############################################
*.ptx
*.cubin
*.fatbin
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

############################################
/criterion/
*.svg
*.html

############################################
datasets/
data/
*.bin
*.gz
*.zip
*.tar
*.tar.gz
*.7z
############################################
__pycache__/
*.pyc
.venv/
venv/

/*.bin
